* {
  box-sizing: border-box;
}

.row{
  display: flex;
}
header,footer {
  background-color: #5a5757;
  color: #ffffff;
  padding: 15px;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

@media only screen and (max-width: 80em){
  .row{
    flex-direction: column;
  }
  [class*="col-"], input {
    width: 100%;
  }
}
@media screen and (max-width: 35em) {
  body {
    padding: 0;
  }
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.tagging label{
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: bold;
  display: block;

}
.taglist li{
  padding: 5px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.taglist ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.taglist li:hover{
  background-color: #cc0029;
}
#result-img{
  width: 100%;
}







