body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  height: 30px;
}

br {
  display: block;
}

a {
  color: #cf4281;
}

header, footer {
  background-color: #cdd1d1;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

/* [class*="col-"]{
  border-style: solid;
  border-color: red;
  border-width: 1px;
} */

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.discovery {
  /* column-count: 2; */
  flex-direction: column;
  border: red;
}

.tagging {
    flex: 1 1 auto;
}

.elements {
  flex-direction: row;
  display: flex;
  flex: 1 1 auto;
  /* flex-wrap: wrap; */
    /* column-count: 2; */
}

.filter {
  flex: 1 1 auto;
}

.taglist li{
  width: 300px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: #e084ae;
  color: white;
  list-style-type: none;
  flex: 0 1 auto;
}

.tagmap {
  padding: 10px;
  flex: 2 2 auto;
}

@media only screen and (max-width: 1200px) {
  [class*="col-"]{
    width: 100%;
  }
}

@media (max-width: 900px){
  .elements {
    flex-direction: column;
  }
}

.paginatedList{
  display: flex;
  flex-direction: column;
}

.pagenumbers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers input{
  height: 30px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;

  background-color: #44AAEE;

  margin: 5px;
  transition: 0.4s;

  color: #FFF;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers input:hover{
  background-color: #44EEAA;
}

.pagenumbers input.active{
  background-color: #44EEAA;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers input:disabled{
  background-color: #adadad;
}
