/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}

/* Variables (example: see declaration for "a" below) */
:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}

/* HTML element styles */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a {
  color: var(--link-color);
}

/* Styles for other HTML elements */
fieldset {
  padding: 1rem;
  margin-top: 0.5rem;
}
input {
  display: block;
  padding: 0.5rem;
  margin: 1px;
  margin-top: 5px;
  margin-bottom: 0.5rem;
}
input[type=submit] {
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  margin-bottom: 1px;
}

/* Grid styles (no changes required) */
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.col-1 {
  width: calc(8.33% - 1rem);
}
.col-2 {
  width: calc(16.66% - 1rem);
}
.col-3 {
  width: calc(25% - 1rem);
}
.col-4 {
  width: calc(33.33% - 1rem);
}
.col-5 {
  width: calc(41.66% - 1rem);
}
.col-6 {
  width: calc(50% - 1rem);
}
.col-7 {
  width: calc(58.33% - 1rem);
}
.col-8 {
  width: calc(66.66% - 1rem);
}
.col-9 {
  width: calc(75% - 1rem);
}
.col-10 {
  width: calc(83.33% - 1rem);
}
.col-11 {
  width: calc(91.66% - 1rem);
}
.col-12 {
  width: calc(100% - 1rem);
}

/* Styles for Header and Footer Component */
.header, .footer {
  padding: 2rem;
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
}
.header__image {
  height: 3rem;
}

/* Styles for Main Component */
main {
  padding: 3rem;
}

/* Styles for Tagging component */
.tagging input {
  width: calc(100% - 1rem);
}

/* Styles for Discovery component */
.discovery  input {
  width: calc(33.33% - 1rem);
}
.discovery__wrapper {
  margin-top: 2rem;
  justify-content: flex-start;
}
#discoveryResults li {
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--link-color);
  list-style-type: none;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
  padding: 1rem;
}
.discovery__map {
  margin-left: 2rem;
  width: calc(100%);
}

#mapView{
  height: auto;
  width: calc(100%);
}

/* Media Queries */
@media (max-width: 650px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, input {
    width: calc(100%) !important;
  }
  .row{
    flex-wrap: wrap;
  }
  .discovery {
    padding-top: 2rem !important;
  }
  .discovery__map {
    margin-left: 0 !important;
  }
}