/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* This approach prevents issues with 3rd party content-box components */
    box-sizing: inherit;
}

/* Variables (example: see declaration for "a" below) */

:root {
    --link-color: #00B7FF;
    --background-color: #efefef;
    --border-color: #cdcdcd;
    --gray-color: #666;
}

/* HTML element styles */

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--link-color);
}

fieldset {
    border: 1px solid var(--border-color);
    margin-top: 1.0rem;
    padding: 0.5rem 0;
}

legend {
    margin-left: 0.6rem;
    font-size: small;
    font-weight: 600;
}

label {
    margin: 0 0 0 0.6rem;
    color: var(--gray-color);
}

input {
    display: block;
    font-size: 1rem;
    width: calc(100% - 20px);
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0 0.5rem 0;
}

input[type=text] {
    padding: 0.8rem 0.6rem 0.6rem 0.6rem;
    margin: 0.3rem 0.6rem 1rem 0.6rem;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

input[type=submit] {
    margin: 0.3rem 0.6rem;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--gray-color);
    text-align: center;
}

input[type=text]::placeholder {
    color: var(--border-color);
    font-size: 1rem;
}

/* Grid styles (no changes required) */

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.col-1 {
    width: calc(8.33% - 1rem);
}

.col-2 {
    width: calc(16.66% - 1rem);
}

.col-3 {
    width: calc(25% - 1rem);
}

.col-4 {
    width: calc(33.33% - 1rem);
}

.col-5 {
    width: calc(41.66% - 1rem);
}

.col-6 {
    width: calc(50% - 1rem);
}

.col-7 {
    width: calc(58.33% - 1rem);
}

.col-8 {
    width: calc(66.66% - 1rem);
}

.col-9 {
    width: calc(75% - 1rem);
}

.col-10 {
    width: calc(83.33% - 1rem);
}

.col-11 {
    width: calc(91.66% - 1rem);
}

.col-12 {
    width: calc(100% - 1rem);
}

/* Styles for Header Component */

.header {
    border-bottom: 2px solid var(--border-color);
    padding: 2rem;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
}

.header__image{
    width: 100%;
    height: auto;
    max-width: 3.125rem;
}

.header__title{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Styles for Main Component */

#main { /* selector with # */
    padding: 2rem;
}

/* Styles for Tagging component */

/* Styles for Discovery component */

.discovery__search {
    margin: 0 0 2rem 0;
}

.discovery__results {
    list-style: none;
}

.discovery__results li {
    padding: 1rem;
    color: var(--link-color);
    background: var(--background-color);
    border: 1px solid var(--border-color);
}

.discovery__results li:not(:last-of-type) {
    margin: 0 0 1rem 0;
}

.discovery__map img {
    width: 100%;
    height: auto;
}

.discovery__map span {
    display: block;
}

/* Styles for Footer Component */

.footer {
    border-top: 2px solid var(--border-color);
    padding: 2rem;
    background-color: var(--background-color);
}

/* Media Queries */

@media only screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        gap: 1rem;
    }

    .row {
        flex-direction: column;
        gap: 2rem;
    }

    .col-responsive {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .row-inner {
        flex-direction: column;
        gap: 2rem;
    }

    .row-inner .col-responsive {
        width: 100%;
    }
}
