body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

header, footer {
  background-color: lightgrey;
  color: white;
  padding: 1em;
}

label, input {
  display: block;
  margin-bottom: 1em;
}

input {
  padding: 0.5em;
}

#filter-form input {
  display: inline-block;
  margin-right: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #00B7FF;
  color: white;
  margin-bottom: 1em;
  padding: 0.5em;
}

#result-img {
  width: 100%;
}

.row {
  display: flex;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  [class*="col-"], input {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 0;
  }
}
