/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

body.h2 {
  font: "Times New Roman", Times, serif;
}


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 2%;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

header img{
  width: 5%;
  height: relative;
}


/* ### TODO ### Styles for Main Component */
.main{
  padding: 3%;
  display: flex;
}

h2{
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

/* ### TODO ### Styles for Tagging component */

fieldset{
  padding: 1rem;
  margin: 0.5rem;
}

legend{
  margin-left: 0.5rem;
}

.tagging input {
  height: 70%;
  padding: 5%;
  margin: 2% 0 0 0;
  
}

.tagging label {
  padding: 2% 0 0 0;
  color: #666;
  
}

.tagging-content{
  display: grid;
  grid-template-columns: auto;
  padding: 0% 4%;
}

/* ### TODO ### Styles for Discovery component */
.discovery__wrapper{
  display: flex;
  justify-content: space-between;
}

.discovery-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.discovery-content label{
  margin-bottom: 1%;
  color: #666;
}

.discovery-content input{
  margin-bottom: 2%;
  height: 2rem;
  width: 15rem;
}

.discovery__results li {
  display: block;
  padding: 8% 5% 8% 2%;
  margin: 10% 0  2% 2%;
  background-color: var(--background-color);
  color: var(--link-color);
  border: 1px solid var(--border-color);
}

.discovery__map{
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  padding-right: 0.5rem;
}

/* ### TODO ### Styles for Footer Component */
footer{
  padding: 3% 2%;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
}


/* ### TODO ### Media Queries */

@media  (max-width: 768px) {
  .main {
    flex-direction:column;
  }

  .discovery__wrapper {
    flex-direction:column;
  }
}