/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */


/* ... your code here ... */
.header{
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 2%;
  background-color: var(--border-color);
  border: 1px solid var(--gray-color);
}

.header__image{
  width: 6.5%;
}

.header__navigation a{
  color: var(--link-color);
}

/* ### TODO ### Styles for Main Component */

/* ... your code here ... */
.main{
  display: flex;
  align-items: flex-start;
  background-color: var(--background-color);
}


/* ### TODO ### Styles for Tagging component */

.tagging {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.tagging form fieldset{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}

.tagging form fieldset legend{
  font-weight: bold;
}

.tagging form fieldset input{
  padding: 10px;
  margin-bottom: 20px;
}

/* ### TODO ### Styles for Discovery component */

.discovery {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.discovery__search fieldset {
  padding: 10px;
  margin-top: 10px;
}

.discovery__search fieldset input{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.discovery__search legend {
  font-weight: bold;
}

.discovery__results li{
  background-color: var(--border-color);
  border: 1px solid var(--gray-color);
  color: var(--link-color);
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
  list-style-type: none;
}

.discovery__wrapper {
  margin-top: 20px;
}

.discovery__map {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
/* ... your code here ... */



/* ### TODO ### Styles for Footer Component */


/* ... your code here ... */
.footer{
  background-color: var(--border-color);
  border: 1px solid var(--gray-color);
  bottom: 0;
  height: 100px;
  display: flex;
  align-items: center;
}

.footer span{
  padding: 30px;
}


/* ### TODO ### Media Queries */

/* ... your code here ... */
@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}