/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__image{
  width: 4rem;
} 


/* ### TODO ### Styles for Main Component */
.main{
  flex:1; /*um verfügbaren Platz zwischen header und footer auszufüllen*/
  margin: 2rem;
}


/* ### TODO ### Styles for Tagging component */

#tag-form fieldset{
  display: flex;
  flex-direction: column;
}


/* ### TODO ### Styles for Discovery component */

.discovery__results li {
  color: #00B7FF;
  background-color: lightgrey;

  padding: 0.5rem;

  margin-bottom: 1rem; /*Abstand nach unten*/

  border-color: black;
  border: 2px solid black;

  list-style: none; /*keine Unterpunktzeichen*/

   width: 180px;

}

.discovery{
  min-width: 380px;
}

.discovery__map{
  display: flex;
  flex-direction: column;
}


/* ### TODO ### Styles for Footer Component */

.footer{
  background-color: grey;
  text-align: center;
  padding: 1rem;
}

/*Input Felder*/
fieldset{
  padding: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
}

input{
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* ### TODO ### Media Queries */

@media (max-width:850px){ /*regeln gelten falls Ansicht<=850*/
  /*Tags die row Klasse angehören => column machen*/
  .row{ 
  width: 100%;
  display: block;
  justify-content: space-between;
  flex: 1;
  }
}
