/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

fieldset {
  padding: 10px;
}

legend {
  font-size: 150%;
}

input {
  padding: 10px;
  margin: 10px;
  min-width: 256px;
}

label {
  padding: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px
}

li {
  color: #2289b4;
  background-color: lightgray;
  display: block;

  border: 1px black solid;
  padding: 10px;
}

li span {
  display: block;
}

label {
  font-size:150%;
}

h2 {
  font-size: 200%;
}

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */
.header {
  color: #2289b4;
  background-color: lightgray;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px;
}

.header__image {
  width: 5%;
}

/* ### TODO ### Styles for Main Component */

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  padding: 25px;
}

/* ### TODO ### Styles for Tagging component */



/* ### TODO ### Styles for Discovery component */

.discovery {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.discovery__search fieldset {
  width: 100%;
}

.discovery__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#map {
  display: flex;
  flex-direction: column;

}

#map img {
  flex: 1;
  width: 100%;
}

/* ### TODO ### Styles for Footer Component */

.footer{
  background-color: lightgray;

  align-items: center;

  padding: 25px;
  margin-top: auto;
}


/* ### TODO ### Media Queries */

/* ... your code here ... */

@media (max-width: 750px) {
  * {
    flex-direction: column;
  }
}