/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

.main {
  display: flex;
  width: 100vw;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.discovery-box,
.discovery__wrapper {
  flex: 1;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.discovery-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  width: 100%;
}

.discovery__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.discovery__map {
  flex-direction: column;
  flex-wrap: wrap;
}



/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */


/* ### TODO ### Styles for Main Component */

/* ... your code here ... */


/* ### TODO ### Styles for Tagging component */

#tag_name,
#tag_hashtag,
#submit {
  border: 2px solid #ccc;
  font-size: 16px;
}

#latitude,
#longitude {
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: #f0f0f0;
}

#tag-box {
  border: 2px solid #ccc;
  padding: 20px;
}


/* ### TODO ### Styles for Discovery component */

#discovery-box {
  border: 2px solid #ccc;
  padding: 20px;
}

#search,
#submit_search {
  border: 2px solid #ccc;
  font-size: 16px;
}

.discovery__results li {
  padding: 8px;
  margin: 5px 0px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 0;
  font-size: 14px;
  list-style: none;
}

.discovery__map span {
  font-size: 14px;
  font-weight: bold;
}


/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */


/* ### TODO ### Media Queries */

/* ... your code here ... */