/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #dbf5ff;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
  background-color: var(--background-color);
}

.header img{
  height: 100px;
}

.header .header__image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.header .header-elements{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
  height: 100%;
}

/* ### TODO ### Styles for Main Component */

.main{
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
  padding: 60px 0;
  gap: 25px;
}


/* ### TODO ### Styles for Tagging component */

.main .tagging h2{
  padding-bottom: 15px;
}

.main .tagging form fieldset{
  padding: 20px;
  border: solid 1px var(--border-color);
}

.main .tagging form fieldset legend{
  font-weight: bold;
}

.main .tagging form fieldset input{
  display: block;
  padding: 7px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.main .tagging form fieldset label{
  color: var(--gray-color);
}

.main .tagging form fieldset #tag-form_submit_button{
  width: 100%;
  margin: 0;
  font-weight: bold;
  border: solid 1px var(--border-color);
}


/* ### TODO ### Styles for Discovery component */

.main .discovery{
 
}

.main .discovery h2{
  padding-bottom: 15px;
}

.main .discovery form fieldset {
  padding: 15px;
  border: solid 1px var(--border-color);
}

.main .discovery form fieldset label{
  color: var(--gray-color);
}

.main .discovery form fieldset input{
  display: block;
  padding: 7px 10px;
  width: 30%;
}

.main .discovery form fieldset legend{
  font-weight: bold;
}

.main .discovery form fieldset #discovery-search_input{
  margin: 15px 0;
}


.main .discovery form fieldset #discovery-search_submit_button{
  font-weight: bold;
  border: solid 1px var(--border-color);
}

.main .discovery .discovery__wrapper{
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 25px;
  padding-top: 25px;
}

.main .discovery .discovery__wrapper .discovery__taglist .discovery__results{
  list-style: none;
}

.main .discovery .discovery__wrapper .discovery__taglist .discovery__results li{
  padding: 10px;
  border: solid 1px var(--border-color);
  color: var(--link-color);
  font-weight: bold;
  background: var(--background-color);
  margin-bottom: 15px;
}

.main .discovery .discovery__wrapper .discovery__map img{
  max-width: 100%; 
}

.main .discovery .discovery__wrapper .discovery__map span{
  display: block;
  color: var(--gray-color);
}


/* ### TODO ### Styles for Footer Component */

.footer{
  height: 100px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}

.footer span{
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
}



/* ### TODO ### Media Queries */

@media screen and (max-width: 950px) {
  .main {
      flex-direction: column;
  }

  .header .header-elements{
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .main .discovery .discovery__wrapper{
    display: block;
  }

}