/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */


/* ### TODO ### Styles for Main Component */

/* ... your code here ... */


/* ### TODO ### Styles for Tagging component */

/* ... your code here ... */
.tagging {
  padding: 2rem;
  background-color: white;
}

.tagging__form {
  max-width: 50%;
}

.tagging__fieldset {
  border: 2px solid;
  border-radius: 3px;
  padding: 1.5rem;
  background-color: mintcream;
}

.tagging__legend {
  font-weight: bold;
  padding: 8px;
}

.tagging__label {
  display: block;
  margin-top: 10px;
}

.tagging__input {
  width: 100%;
  padding: 8px;
  color: black;

}

.tagging__input:focus {
  background-color: lavenderblush;
}

.tagging__button {
  margin-top: 15px;
  padding: 10px;
  color: black;
}

.tagging__button:hover {
  border-radius: 2px;
  background-color: darkseagreen;
}


/* ### TODO ### Styles for Discovery component */

/* ... your code here ... */
.discovery {
  padding: 2rem;
  background-color: white;
}

.discovery__form {
  max-width: 100%;
}

.discovery__fieldset { /* Box ums Formular drum */
  border: 2px solid;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: mintcream;
}

.discovery__legend { /* Text, der im Rahmen des Formulars steckt */
  font-weight: bold;
  padding: 8px;
}

.discovery__label { /* Text über jedem Formularfeld */
  display: block;
  margin-top: 10px;
}

.discovery__input { /* Was in die Formularfelder reinkommt (ganzer Kasten) */
  width: 100%;
  padding: 8px;
  color: black;
}

.discovery__input:focus { /* Klicken auf Formularfeld */
  background-color: lavenderblush;
}

.discovery__button { /* Abschicken des Formulars */
  margin-top: 15px;
  padding: 10px;
  color: black;
}

.discovery__button:hover { /* Hovern mit Maus über dem Button */
  border-radius: 2px;
  background-color: darkseagreen;
}


/* ### TODO ### Styles for Footer Component */

/* ... your code here ... */


/* ### TODO ### Media Queries */
@media screen and (max-width: 850px) {
    /* Für alle Spalten: */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        /* sollen gesamte Breite einnehmen (also können nie mehrere Elemente nebeinenander stehen): */
        width: 100%;
        /*
         flex-grow=0, flex-shrink=o, flex-basis=100% => "erzwungener" zeilenumbruch
        */
        flex: 0 0 100%;
    }
   
}