/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100px; */
  height: 130px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid lightgrey;
  /* gap: 100px; */
  /* flex-basis: 20%; */
}

.header__image {
  width: 50px;

}


/* ### TODO ### Styles for Main Component */

.main {
  background-color: white;
  display: flex;
  padding: 50px;
}

/* ### TODO ### Styles for Tagging component */

.tagging {
  background-color: white;
  display: block;
}

#tag-form {
  /* text-align: center; */
  padding-right: 20px;
}

/* #tag-latitude #tag-longitudie #tag-name #tag-hastag {
  width: 90%;
} */

#tag-fieldset {
  margin-top: 10px;
  padding: 6%;
  display: grid;
}

#tag-fieldset label:not(legend) {
  padding-bottom: 5px;
}

#tag-fieldset legend {
  font-weight: bold;
}

#tag-fieldset #tag-longitude {
  background-color: #eeeeee;
  border: 1px solid lightgrey;
}

#tag-fieldset #tag-latitude {
  background-color: #eeeeee;
  border: 1px solid lightgrey;
}

#tag-fieldset #tag-submit {
  font-weight: bold;
  padding: 5px;
}

#tag-fieldset input:not(#tag-submit) {
  padding: 5px;
  margin-bottom: 15px;
}



/* ### TODO ### Styles for Discovery component */

.discovery {
  background-color: white;
  display: block;
  padding-left: 20px;
}

.discovery h2 {
  /* funktioniert nicht !!! */
  font-weight: bold;
}

.discovery__wrapper {
  display: flex;
}

.discovery__search {
  margin-bottom: 40px;
}

#discovery-fieldset {
  margin-top: 10px;
  padding: 2%;
  display: grid;
}

#discovery-fieldset input {
  padding: 5px;
  width: 25%;
}

#discovery-fieldset input:not(:last-of-type) {
  margin-bottom: 15px;
}

#discovery-fieldset input:last-of-type {
  color: grey;
}

#discovery-fieldset label:not(legend) {
  padding-bottom: 5px;
}

#discovery-fieldset legend {
  font-weight: bold;
}

#discoveryResults {
  text-align: center;
  font-weight: bold;
  color: rgb(58, 209, 255);
  margin-right: 50px;
}

#discoveryResults li {
  background-color: #eeeeee;
  border: 1px solid grey;
  text-align: left;
  padding: 10px;
  list-style: none;
  margin-bottom: 20px;
}

#map {
  display: grid;
}



/* ### TODO ### Styles for Footer Component */

.footer {
  background-color: #eeeeee;
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 30px;
  border: 1px solid lightgrey;
}

/* ### TODO ### Media Queries */

@media (max-width: 850px) {

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: 0 0 100%;
    width: 100%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .main,
  .discovery__wrapper {
    display: grid;
  }

  .discovery {
    padding: 20px;
    padding-left: 0px;
  }

  #discoveryResults {
    padding: 0px;
    width: 100%;
  }
}