* {
  box-sizing: border-box;
}

header, footer {
  background: gray;
  color: white;
  padding: 15px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover {
  color: #2e6da4;
}

.flex-container {
  display: flex;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 950px) {
  .flex-container {
    flex-flow: column;
  }

  [class*="col-"] {
    width: 100%;
  }
}

@media (min-width: 950px) {
  .flex-container {
    flex-flow: row;
  }
}

[class*="col-"] {
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.taglist li {
  background: #2daaf3;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.taglist ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

label, legend {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  height: 30px;
  margin-bottom: 10px;
}

#result-img {
  max-width: 100%;
  height: auto;
}
