/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

section{
  margin-top: 20px;
}

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */
.header__image{
  height: 20pt;
  margin-left: 20px;
}
.header__navigation{
  margin-right: 10px;
}
header{
  background-color: #d8dce4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: stretch;
  align-items: center;
  height: 100px;
}

/* ### TODO ### Styles for Main Component */

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
}


/* ### TODO ### Styles for Tagging component */

input{
  display: block;
  height: 30px;
  width: 200px;
  margin-left: 4px;
  margin-right: 20px;
  margin-bottom: 10px;
}
label{
  display: block;
  height: auto;
  width: 200px;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

/* ### TODO ### Styles for Discovery component */
#map { 
  height: 480px;
  width: 480px;
}

#mapView{
  display: block;
  width: 100%;
}
span{
  display: block;
}
.discovery__taglist{
  margin-right: 20px;
}

.discovery__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
ul{
  list-style-type: none;
}
li{
  background-color: #d8dce4;
  border-style: solid;
  border-color: grey;
  color: #00B7FF;
  padding: 5px;
  margin: 5px;
  width: auto;
}

/* ### TODO ### Styles for Footer Component */

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;
  background-color: antiquewhite;
  padding-left: 10px;
}


/* ### TODO ### Media Queries */
@media screen and (max-width: 962px){
  main{
    flex-direction: column;
  }
  .discovery__taglist{
    width: 100%;
  }
  input{
    width: 96%;
  }
}